body {
    background-color: rgb(59, 59, 65);
}

.przyciski {
    background-color: #00aeffa6;
    color: white;
    font-size: 20px;
    width: 450px;
    height: 50px;
    padding-top: 10px;
}

.nawigacja {
    background-color: #00aeffc7;
    height: 60px;
    width: 100%;
}

.buton {
    color: rgb(255, 255, 255);
    width: 260px;
    height: 60px;
    font-size: 25px;
    text-align: center;
}

#menu {
    position: fixed;
    top: 0;
    z-index: 10;
}

.lisek0{
    background-image: url(./img/Fenek1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 80vh;
}

.tekstfenek{
    padding-top: 50px;
    padding-bottom: 50px;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 15px;
    color: rgb(0, 0, 0);
    font-size: 17px;
    background-color: #fa73fff8;
}

.galeriafenek{
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 40px;
    background-color: #e2e460;
}

img{
    width: 100%;
    height: 100%;
}

img:hover {
    animation-name: przyblizanie;
    animation-duration: 2000ms;
    animation-fill-mode: forwards;
}

@keyframes przyblizanie {
    from {
        height: 100%;
        width: 100%;
    }
    to {
        transform: scale(1.3);
    }
}

.zdjeciafenka{
    overflow: hidden;
}

.kotek0{
    background-image: url(./img/kotki.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 80vh;
}

.tekstkotek{
    padding-top: 50px;
    padding-bottom: 50px;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 25px;
    background-color: #77ff41;
    color: #000000;
    font-size: 17px;
}

.galeriakotek{
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 40px;
    background-color: #ecb165;
}

.zdjeciakotka{
    overflow: hidden;
}

.aksolotl0{
    background-image: url(./img/aksolotl10.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;
}

.tekstaksolotl{
    padding-top: 50px;
    padding-bottom: 50px;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 25px;
    background-color: palevioletred;
    color: white;
    font-size: 17px;
}

.zdjeciaaksolotl{
    overflow: hidden;
}

.galeriaaksolotl{
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 40px;
    background-color: rgb(134, 0, 45);
}

